@use "../_setting" as s;


// .globalNaviSmall　グローバルナビ ハンバーガーメニュー
#wrapper .globalNaviSmall {
	&__icon {
		width: 3em;
		height: 3em;
		position: absolute;
		top:0;
		right:0;
	}
	&__iconButton{
		width: 5em;
		height: 5em;
		cursor:pointer;
		float: right;
		display: block;
		background: rgba(s.$colorType02,1);
		position: relative;
		z-index:999;
		color:#FFF;
	}
	&__icon span {
	    width: 2em;
	    height: 1px;
	    display: block;
	    background: #000;
	    position: absolute;
	    left: 50%;
	    top: 50%;
	    margin-left: -20%; 
	    margin-top: 0.5em; 
	}
	&__icon small {
		width:100%;
		display: block;
		position: absolute;
		left: 50%;
		top: 0.5em;
		margin-left: -1.4em;
		font-family: "Inter", sans-serif;
		font-optical-sizing: auto;
		font-weight:700;
		font-style: normal;
	}
	.modal{
		z-index:100;
	}
}
	

#wrapper .globalNaviSmall{
	&__icon--type01{
		// ハンバーガーメニュー 押す前
		span {
		  -webkit-transition: all 0.3s;
		          transition: all 0.3s;
		  -webkit-transform: rotate(0deg);
		      -ms-transform: rotate(0deg);
		          transform: rotate(0deg); 
		}
		.iconButton--top {
		  -webkit-transform: translateY(-0.7em);
		      -ms-transform: translateY(-0.7em);
		          transform: translateY(-0.7em); 
		}
		.iconButton--bottom {
		  -webkit-transform: translateY(0.7em);
		      -ms-transform: translateY(0.7em);
		          transform: translateY(0.7em); 
    	}

    	// ハンバーガーメニュー hover
		&:hover {
			.iconButton--top {
			  -webkit-transform: translateY(-0.8em);
			      -ms-transform: translateY(-0.8em);
			          transform: translateY(-0.8em);
			}
			.iconButton--bottom {
			  -webkit-transform: translateY(0.8em);
			      -ms-transform: translateY(0.8em);
			          transform: translateY(0.8em); 
          	}
    	}

    	// ハンバーガーメニュー 押した後の動き
		&.is-open {
			.iconButton--middle {
			  background: rgba(255, 255, 255, 0);
			}
			.iconButton--top {
			  -webkit-transform: rotate(-45deg) translateY(0px);
			      -ms-transform: rotate(-45deg) translateY(0px);
			          transform: rotate(-45deg) translateY(0px); 
			}
			.iconButton--bottom {
				  -webkit-transform: rotate(45deg) translateY(0px);
				      -ms-transform: rotate(45deg) translateY(0px);
				          transform: rotate(45deg) translateY(0px);
			}
    		}
	}
}



/* .globalNaviSmall　スマホグローバルナビ
------------------------------------------ */
#wrapper .globalNaviSmall {
	display:block;
	width:100%;
	position: fixed;
	z-index:888;
	top:0;
	left:0;
	@include s.media(m){
		display: none;
	}
	&__menu{
		width:100%;
	  	max-height: 100vh;
		display:block;
		&__inner{
			width:100%;
		  	min-height: 100vh;
			overflow-x:hidden;
			overflow-y:auto;
  			padding:5em 2em;
			display:block;
		}
		&__main{
			li {
				border-bottom:#EF8181 solid 1px;
				display:block;
				font-family: "FP-こぶりなゴシック StdN W6";
				a{
					padding:1.2em 1em 1.2em;
					display:block;
					line-height:1.7em;
					background:#FFF;
					font-size:1.1em;
					letter-spacing:0.1em;
					&:hover{
						color:#999;
					}
					&:after{
						content:"\03e";
						float:right;
						padding-right:1em;
					}
				}
				span{
					font-size:1.1em;
					padding:0.5em 0;
					display:block;
					line-height:1.7em;
				}
			}
			>li:last-child {
				margin-bottom:1em;
			}
		}
		&__sub li{
			a{
  				padding-left:2em;
			}
			&:last-child {
				border-bottom:none;
			}
		}
	}
	.modal__overlay {
		background: none;
	}
	.modal__container {
		background:rgba(s.$colorType04,.95);
		width:100%;
		max-width: 100%;
		border-radius: 0;
  		padding: 0;
		min-height: 100vh;
	}
	&__siteTitle{
		width:14em;
		margin:0 auto 0.5em;
		display:block;
		text-align:center;
		img{
			width:100%;
		}
	}
	&__tel{
		text-align:center;
		display:block;
		span,a{
			color:s.$colorType02;
			font-family: "Inter", sans-serif;
			font-optical-sizing: auto;
			font-weight: 700;
			font-style: normal;
			font-size:1.7em;
			position:relative;
			padding-left:0.9em;
			display:inline-block;
			text-decoration:none;
			line-height:1.7;
			i {
		          	margin-right: 0.2em;
				font-size:0.8em;
		        }
			&::after{
				content:none;
			}
		}
	}
	&__information{
		width:80%;
		margin:0 auto 2em;
		display:block;
		text-align:center;
	}
}


/* Safari */
_:lang(x)+_:-webkit-full-screen-document, #wrapper .globalNaviSmall__menu {
  min-height: -webkit-fill-available;
}
_:lang(x)+_:-webkit-full-screen-document, #wrapper .globalNaviSmall__menu__inner {
  min-height: -webkit-fill-available;
}




/* .globalNavi　グローバルナビ
------------------------------------------ */

#wrapper .globalNavi{
	display:none;
	@include s.media(m){
		display:block;
	}
	&__menu{
		&__main{
			width:100%;
			display:flex;
			justify-content:center;
			align-items:center;
			>li {
				width: 6em;
				height: 4em;
				padding:1em 0 0 0;
				text-align:center;
				display:block;
			   	position: relative; /*z-indexの指定や子要素の基準とするために指定*/
			   	z-index: 2; /*ドロップダウンしたメニューが隠れないように*/
				font-size:0.875em;
				font-family: "FP-こぶりなゴシック StdN W6";
				&:nth-child(1){
					width: 9em;
				}
				&:nth-child(4){
					width: 7em;
				}
				&:nth-child(5){
					width: 9em;
				}
				&:nth-child(6){
					width: 13em;
				}
				span{
					&::after{
						content: " ";
						width:200vw;
						height:100vh;
						display: block;
						position:absolute;
						top:4em;
						left:50%;
						margin-left:-100vw;
						background:rgba(0,0,0,.5);
						z-index:-1;
						pointer-events:none;
						opacity:0;
						-webkit-transition: all .3s ease;
						transition: all .3s ease;
					}
				}
			}
			li a {
				line-height:1.7em;
				text-decoration:none;
				display:block;
				&:hover {
					text-decoration:none;
				}
			}
		}
	}
}




/* .globalNavi__menu__sub　グローバルナビサブメニュー
------------------------------------------ */




#wrapper ul.globalNavi__menu__sub {
	width:400%;
	opacity: 0;  /*サブメニューは最初は非表示にしておく*/
	visibility: hidden;  /*サブメニューは最初は非表示にしておく*/
	position: absolute;
	top: 6em;
	left: -150%;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	box-shadow: 0px 0px 15px -5px #777777;
	border-top:s.$colorType02 solid 1px;
	&::before{
		content: " ";
		width:1px;
		height:3em;
		display: block;
		position:absolute;
		top:-1em;
		left:50%;
		background:s.$colorType02;
	}
	li{
		height:auto;
		padding: 0;  /*親メニューのパディングを解除*/
		margin:0;
		*margin-top:-8px;
		display:block;
		line-height:1.5em;
		a{
			border: none;  /*ボーダーの指定*/
			border-top: none;  /*ボーダートップは重なって太くなるので解除。一番上は ul 要素に指定*/
			padding: 1.8rem 1em 1.8rem 2em;
			background-color:#FFF ;
			text-decoration:none;
			color:s.$colorType02;
			text-align:left;
			display:block;
			font-size:1em;
			line-height:1.7em;
			position:relative;
			&:hover{ 
				color:#000;
				background-color: #FFF;
			}
			&::before{
				content: " ";
				width:60%;
				height:1px;
				display: block;
				position:absolute;
				bottom:0;
				right:0;
				background:#e3e3e3;
			}
			&::after{
				content: "\f105";
				font-family: 'icomoon';
				display: block;
				position:absolute;
				top:50%;
				right:1em;
				margin-top:-1em;
			}
		}
	}
}

#wrapper .globalNavi ul li:hover ul.globalNavi__menu__sub {
	top: 3.9em;
	visibility:visible;
	opacity: 1;
	display: block;    /*マウスオーバー時にサブメニューを表示する*/
}
#wrapper .globalNavi ul li:hover>span::after {
	opacity:1;
}

#wrapper .globalNavi.globalNaviAccordion ul.globalNavi__menu__sub li{
  	padding:0;
}



